.nav {
  background-color: #fff;
  color: #fff;
  padding: 10px;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 150px;
  font-size: 1.5em;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

a:hover {
  color: #0000ee;
  text-decoration: underline;
}

.cart-container {
  display: flex;
  align-items: center;
}

.cart-icon {
  font-size: 1.5em;
  margin-right: 5px;
  padding: 10px;
  cursor: pointer;
}

.cart-items {
  background-color: #f4f5f8;
  color: #333;
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 50%;
}

@media (max-width: 840px) {
  .logo {
    width: 100px;
  }
}
