@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-base: 18px;
  --small-font: 16px;
  --large-font: 36px;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #f4f5f8;
  font-size: var(--font-base);
}

h2 {
  font-size: var(--large-font);
}

@media (max-width: 840px) {
  body {
    font-size: var(--small-base);
  }

  h2{
    font-size: 24px;
  }
  
}
