@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

:root {
  /* colors 
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;
  #212121 (grey)
  
  */

  /* sizes */
  --font-base: 18px;
  --small-font: 16px;
  --large-font: 36px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: #f4f5f8;
  font-size: var(--font-base);
}

h2 {
  font-size: var(--large-font);
}

@media (max-width: 840px) {
  body {
    font-size: var(--small-base);
  }

  h2{
    font-size: 24px;
  }
  
}
